<th>
    Favorite Movies
</th>
<th>
    Average Rating
</th>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MembershipTypeId)
        </td>
        <td>
            @string.Join(", ", item.FavoriteMovies.Select(m => m.Title))
        </td>
        <td>
            @item.AverageRating
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
        </td>
    </tr>
}
